html {
  font-family: sans-serif;
}

body {
  width: 50%;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
  font-size: 1rem;
}

.lastResult {
  color: white;
  padding: 3px;
}

.reset-btn,
.d-l-m {
  border: none;
  background: transparent;
}

footer {
  font-size: 0.6rem;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #333;
    color: white;
  }

  i {
    color: white;
  }
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ddd;
    color: black;
  }

  i {
    color: black;
  }
}
